
.ic-slide-list{

  &-mask{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &-container{
    width: 614px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #fff;
    box-shadow: -2px 0 6px 0 rgba(51,51,51,0.05);
    z-index: 120;
  }
  &-arrow{
    width: 40px;
    height: 166px;
    position: fixed;
    top: 50%;
    right: 614px;
    transform: translateY(-50%);
    background: transparent url("../img/slide.png") center;
    &-left{
      color: #387ffa;
      font-size: 17px;
      font-weight: 700;
      position: absolute;
      top: 50%;
      right: -5px;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
}