
.ic-slide-container {
  $main-color: #37f;
  @mixin text-ellipsis($width: 84px) {
    max-width: $width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  padding: 30px 37px;
  &-item {
    padding: 26px 30px;
    margin-top: 20px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    &-salary {
      height: 16px;
      line-height: 16px;
      color: #f53;
    }
    &-source {
      font-size: 12px;
      color: #999999;
      letter-spacing: 0;
      text-align: right;
      height: 20px;
      line-height: 20px;
    }
    &-company {
      font-size: 14px;
      color: #333333;
      height: 14px;
      line-height: 14px;
      vertical-align: middle;
    }
  }
  &-title {
    width: 137px;
    height: 28px;
    line-height: 28px;
    padding: 7px 18px;
    color: #37f;
    font-size: 14px;
    background: rgba(59, 153, 255, 0.08);
    border-radius: 4px;
    .bold {
      font-weight: 700;
    }
  }
  .ic-resume-container {
    &-extra{
      > i{
        color: #e3eaed;
        border-radius: 0.75px;
      }
      > label{
        margin-left: 11px;
      }
    }
  }
  &-basic-info {
    display: inline-block;
    vertical-align: middle;
    > span {
      vertical-align: middle;
    }
    .info-common {
      height: 16px;
      line-height: 16px;
      color: #999999;
      font-size: 14px;
      display: inline-block;
    }
  }
  &-extra {
    > i {
      color: #eeeeee;;
    }
    > label {
      margin-left: 12px;
    }
  }
  .ic-resume-card {
    width: 540px;
    min-width: 540px;
    .candidate-info {
      left: 64px;
      position: relative;
      width: 100%;
      height: 48px;
      overflow: hidden;
      .resume-name {
        display: block !important;
      }
    }
    .experience-item {
      .update-time {
        top: 0;
        right: 0;
        width: auto;
      }
    }
    .resume-photo {
      position: absolute;
      top: 0;
      left: 0;
      height: 48px;
    }
    .resume-info {
      padding-left: 0;
      .candidate-exper {
        height: 75px;
        margin-top: 18px;
      }
    }
    .resume-operate {
      margin-top: 35px;
      margin-right: 30px;
      .ic-map-btn.ant-btn-primary {
        border-color: #3377ff;
        background-color: #3377ff;
      }
    }
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  &-position {
    &-item {

      &-name {
        font-size: 16px;
        color: #333333;
        line-height: 16px;
        margin-bottom: 14px;
      }
      &-info {
        margin-top: 14px;
        margin-bottom: 30px;
      }
      .position-company {
        margin-top: 30px;
        display: block;
      }
    }
    &-item.ic-slide-container-basic-info{
      height: 14px;
      line-height: 14px;
      .info-common {
        height: 14px;
        line-height: 14px;
        display: inherit;
      }
    }
  }
  &-company {
    &-item {
      &-line {
        margin-top: 30px;
      }
      &-avatar.ic-icon {
        vertical-align: middle;
      }
      &-position {
        margin-left: 7px;
        margin-right: 24px;
        height: 16px;
        display: inline-block;
        font-size: 14px;
        color: #333333;
        letter-spacing: 0;
        line-height: 16px;
        vertical-align: middle;
      }
      &-img {
        vertical-align: middle;
        margin-right: 16px;
      }
      .company-name {
        font-size: 18px;
        @include text-ellipsis(235px)
      }
      .company-position {
        @include text-ellipsis()
      }
    }
  }
  .ic-space {
    width: 1px;
    height: 12px;
    color: #eeeeee;
    margin-left: 10px;
    margin-right: 10px;
  }
  .map-btn {
    margin-top: 40px;
    margin-left: 208px;
    border-color: $main-color;
    color: $main-color;
    border-radius: 94px;
    &:hover {
      border-color: $main-color;
      color: $main-color;
    }
  }
  .mb36 {
    margin-bottom: 36px;
  }
  .mb46 {
    margin-bottom: 46px;
  }
}